*{
    margin: 0;
    padding: 0;
}
@media(max-width:1024px)
{
    .d-block{
        height: 800px;
    }
}
.main{
}

.main-2nd{
    background-image: url(image/secbackground.jpeg);
    width: 100%;
    max-height: 800px;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.body{


}
#main-body{
    background-color: #FFFFFF;
}
.space-view{
    height: 5px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.header-1{
    font-size: 35px;
    font-family: 'Acme', sans-serif;
    color: rosybrown;
   }

   .header-2{

   }
.lead{
    font-size: 10px;
    font-family: 'Montserrat Alternates', sans-serif;
    

}
.lead-2{
    font-size: 30px;
    font-family: 'Dancing Script', cursive;
    color: #FFFFFF;
}
.display-4{
    color: #FFFFFF;
    font-family: 'Montserrat Alternates', sans-serif;
    letter-spacing: 3px;
}
.font-2{
    font-family: 'Dancing Script', cursive;
    font-size: 50px;
    color: #FFFFFF;
    letter-spacing: 3px;
}
.display-3{
    color: #FFFFFF;
    font-family: 'Montserrat Alternates', sans-serif;
}
.black-header{
    color: #333;
}
.text-black{
    font-size: 30px;
    font-family: 'Dancing Script', cursive;
    color: #333;
}
.text-white{
    font-size: 30px;
    font-family: 'Dancing Script', cursive;
    color: #FFFFFF;
}

.navbar-brand{
    font-family: 'Montserrat Alternates', sans-serif;
    letter-spacing: 3px;
}



.navbar{
    border-bottom:4px solid black ;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: .7;
}
.d-block{
    height: 600px;
    width: 100%;
    background-size: cover;
}
.slide-font{
    font-size: 40px;
    font-family: 'Dancing Script', cursive;
    color: seashell;

}
.fas{
    align-items: center;
    
}
.col-md-4{
    text-align: center;
}

#slide{
    
}
.icon-motivation{
    padding-bottom: 15px;
    color: sienna;
    margin-top: 50px;
}


#get-started{
    background-image: url(image/mainbackground.jpeg);
    background-attachment: fixed;

}
.get-started-background{
    background-color: rgba(0, 0, 0, 0.7);
    opacity: .7;
}
#started-2{
    background-color: #FFFFFF;
    padding-top: 20px;
    padding-bottom: 20px;
}
.galary-image{
    border-radius: 2%;
}

.youtube-background-sm{
 
}

#youtube{
    background-color: rgba(0, 0, 0, 0.7);
    opacity: .7;
    
}
.align-center{
    align-items: center;
}


#photo{
    background-color: #FFFFFF;
    margin-top: 15px;
}
.col-md-4{
    z-index: 2;
    position: relative;
 
}

.card{
    background-color: #FFFFFF;
    
}

.card-text{
    font-size: 18px;
    color: #FFFFFF;
    font-family: 'Montserrat Alternates', sans-serif;
}
.card-body{
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0.7;
}

#photo{
    background-color: rgba(0, 0, 0, 0.7);
    
    background-image:url(image/photobackground.jpg);
    background-attachment: fixed;
    
    
}
.adjustment-center{
    background-color: #FFFFFF;
}

.pad{

}
#footer{
    background-color: black;
}
.footer-head{
    color: #FFFFFF;
    font-family: 'Montserrat Alternates', sans-serif;
    letter-spacing: 5px;
}

.footer-text{
    color: #FFFFFF;
    font-family: 'Montserrat Alternates', sans-serif;
    letter-spacing: 7px;
}
.link{
    color: blanchedalmond;
    text-decoration: none;
}
.link:hover{
    color: cadetblue;
    text-decoration: none;
    text-transform: capitalize;
}

.font-black-header{
    font-size: 35px;
    color: #333;
    font-family: 'Montserrat Alternates', sans-serif;
    letter-spacing: 3px;

}
.font-black-body{
    font-size: 20px;
    color: #333;
    font-family: 'Montserrat Alternates', sans-serif;
    letter-spacing: 3px;
}
.font-white-header{
    font-size: 35px;
    color: #FFFFFF;
    font-family: 'Montserrat Alternates', sans-serif;
    letter-spacing: 3px;
}
.font-white-body{
    font-size: 20px;
    color: #FFFFFF;
    font-family: 'Montserrat Alternates', sans-serif;
    letter-spacing: 3px;
}
